.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 10px auto;
}
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #f77063 0%, #fe5790 100%);
  border: none;
  width: 255px;
  height: 48px;
  border-radius: 24px;
  color: #fff;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.text {
  line-height: 24px;
}
