.Container {
  padding-top: 156px;
  margin-bottom: 32px;
  font-family: Pretendard;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  margin: 0 auto;
  color: #f6f6f6;
  text-align: left;
}

.idolList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
  margin-top: 32px;
}

.idolCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  cursor: pointer;
  position: relative;
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f77063;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.name {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.group {
  font-size: 12px;
  color: #bdbdbd;
  text-align: center;
}

.deleteIcon {
  position: absolute;
  top: 3px;
  right: -3px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 5;
}

@media (max-width: 1199px) {
  .Container {
    width: 696px;
    padding-top: 120px;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .Container {
    width: 600px;
    padding-top: 80px;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: left;
  }
}
