.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 24px) / 2);
  max-width: 588px;
}

.modalItem {
  cursor: pointer;
}

.item,
.divide {
  width: 100%;
}

.item:last-child > .divide {
  display: none;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartContent {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  color: white;
  gap: 12px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-grow: 1;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.divide {
  height: 1px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  box-shadow: inset 0 0 0 1px var(--orange-primary);
  border-radius: 50%;
  position: relative;
}

.selectIdol {
  background:
    url('@/assets/icons/select-idol.svg') no-repeat center,
    linear-gradient(
      271deg,
      rgba(249, 110, 104, 0.5) -9.84%,
      rgba(254, 87, 143, 0.5) 107.18%
    );
  background-size: 24px 24px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}

.picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 40% 20%;
}

.ranking {
  font-weight: 400;
  color: var(--orange-primary);
  font-size: 16px;
}

.target {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
}

.votes {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
}

[type='radio'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3.5px solid white;
  background-color: var(--white-200);
}

[type='radio']:checked {
  background-color: var(--orange-primary);
  border: 3.5px solid white;
}

@media (max-width: 1199px) {
  .item {
    width: 100%;
    max-width: 100%;
  }

  .ranking {
    font-size: 14px;
  }

  .target {
    font-size: 14px;
  }

  .votes {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .item {
    min-width: 327px;
  }
}
