.slideButton {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: #1b1b1b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

.slideButton:hover {
  filter: brightness(1.5);
  transition: filter 0.3s ease;
}

.leftButton {
  left: -60px;
  width: 29px;
  height: 135px;
}

.rightButton {
  right: -60px;
  width: 29px;
  height: 135px;
}

.icon {
  width: 12px;
  height: 24px;
}
