@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
}

select,
button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  background: radial-gradient(
      farthest-corner at 0 0,
      #14c4fe77 0,
      var(--black-200) 150px
    )
    no-repeat left top / 150px 240px;
  background-color: var(--black-200);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
