@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
}

select,
button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  width: 100vw;
  background: url('../assets/images/background_effect.png') no-repeat left top;
  background-color: var(--black-200);
}
