:root {
  /* Primary color */
  --black-200: #02000e;
  --black-100: #181d26;
  --gray-300: #67666e;
  --gray-200: #828282;
  --gray-100: #a3a5a8;
  --white-200: #8c92ab;
  --white-100: #f7f7f8;

  /* Brand color */
  --orange-primary: #f96d69;
  --pink-accent: #fe5493;

  /* Secondary color */
  --landing-subtitle: #d2c030;
  --mypage-title: #f6f6f8;
  --mypage-subtitle: #f4efef;
  --mypage-profile: #f77063;

  --toastify-color-dark: #181d26;
  --toastify-font-family: Pretendard;
}
