.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 32px;
}

.title {
  font-weight: 700;
  line-height: 26px;
}

.modalButton {
  width: 134px;
  height: 32px;
  padding: 2px 16px 2px 44px;
  border-radius: 3px;
  background:
    url('../../assets/icons/chart.svg') no-repeat left 16px center,
    linear-gradient(90deg, #f86f65 0%, #fe5493 100%);
  color: white;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.26px;
}

@media (min-width: 375px) {
  .title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 24px;
  }
}
