.chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 80px;
  gap: 24px;
}

.tabs {
  display: flex;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  width: 100%;
}

@media (max-width: 1199px) {
  .chart {
    min-width: 700px;
  }
}

@media (max-width: 767px) {
  .chart {
    min-width: 327px;
    gap: 16px;
  }
}
